<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Picksy uses Bluetooth to find and sync with nearby devices in your photo library.</string>
</dict>
</plist>
